body {
    padding: 0;
    margin: 0;
    background-color: rgb(192, 192, 192);
}

.cal-gril{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: minmax(60px, auto) repeat(5, 80px);
}

.cal-gril > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    background-color: rgba(232,232,232, .75);
}



.barrita {
    grid-column: 1 / 5;
    background-color: rgba(255, 255, 255);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 28px;
    word-wrap: break-word;
    word-wrap: break-all;
    
    
}

.barrita .display {
    color:rgb(0, 0, 0);
    font-size: 1.85rem;
    text-align: right;
}
 
.barrita > input{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    font-size: 50px;    
}

.ca{
    display: contents;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 10px);
    grid-template-rows: minmax(60px, auto) repeat(5, 105px);
}

.ca>button {
    cursor: pointer;
    font-size: 3rem;
    border: 3px solid rgb(0, 0, 0);
    outline: none;
    background-color: rgba(0, 225, 255, 0.75);;
}

.ope{
    display: contents;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 10px);
    grid-template-rows: minmax(60px, auto) repeat(5, 105px);
}

.ope>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    background-color: rgba(160,160,160, 0.75);;
}

.cal-gril > button:hover{
 background-color: rgba(229, 149, 149, 0.9);
}